.header-color {
  background: #007991;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid {
  text-align: center;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.avatar-img {
  height:250px;
  padding-top:5em;
}

.resume-right {
  background:#25A2A6;
  color: white;
  padding: 2em;
}
.avatar-img2 {
  height:250px;
  position: left;
}

.icon {
  width:10%;
  padding-top:1em;
  padding-bottom:1em;
}
.icon2 {
  width:15%;
  padding-top:1em;
  padding-bottom:1em;
}

.projects-grid{
  display: flex;
  
}

.isi-grid{
  padding-right: 2em;
  
}

.banner-text {
  background-color: #007991;  /* fallback for old browsers */
 
opacity:0.8 ;
width: 75%;
margin:auto;
border-radius:10px;
}

.banner-text h2 {
  padding-top:0.5em;
  font-size: 37px;
  font-weight: bold;
  color: white;
  }
  .banner-text p {
    color:white;
    font-size: 20px;
    padding: 1em;
  }
  .social-links {
    display:flex;
    justify-content:space-between;
    width: 30%;
    margin: auto;
  }
.social-links i {
  color:white;
  font-size: 5em;
  padding: 4px;
}
.contact-body{
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top:2em ;
}
.contact-grid{
  background: white;
  width: 80%;
  height: 550px;
  justify-content: center;
  color:black;
  padding-top:2em ;
  padding-left:2em ;
}
.contact-grid1{
  position: right ;
}

.contact-grid h3 {
  font-family: 'Anton', sans-serif;
  position: left;
}
.contact-grid hr {
  border-top: 5px dotted black;
  width:50%;
  margin:auto;
}
.contact-list i {
font-size:31px;
padding-right: 0.5em;
}
.contact-list {
  padding-left: 0em;
  }
